<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<img class="table-img" alt="table" src="/assets/Table.png">
      </ul>





      
        <ul class="nav navbar-nav navbar-right">

        <li>
          <div class="btn-group navbar-btn">
            <button class="btn btn-navbar">My Account</button>
            <button data-toggle="dropdown" class="btn btn-navbar dropdown-toggle"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Favorites</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </div>
        </li>  


        <li><a href="#" class="find">Find</a></li>
        <li><a href="#" class="reservations">Reservations</a></li>
        <li><a href="#" class="settings">Settings</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
      	</li>
      </ul>
    </div>
  </div>
</nav>