

<%= image_tag("tablereserved.png", class: "banner") %>

<div class="dining">
	<h3>Dining has never been easier.</h3>
</div>

<div class="signed_in_index">

<p>TableQ is a fast and convenient way to reserve tables for your favorite restaurant. Reserved tables are directly populated to your restaurant host, along with an estimated arrival time of your choosing. No more having to wait for long reservation lines, your table will be conveniently booked ahead on schedule at a time of your choosing.</p>


</div>

<%= image_tag("Dollarphotoclub_92873014-1280x720.png", class: "banner2") %>