<div class="house">

  <%= image_tag("restaurant-floor.jpg", class: "floor") %>

  <!-- -------------Beginning of yellow queue tables-------------->

  <%= table :a1, "roundtable.png", top: 465, left: 446, width: 80 %>
  <%= table :a2, "roundtable.png", top: 366, left: 446, width: 80 %>


  <%= render 'reservation_form' if user_signed_in? %>



  <% if owner_signed_in? %>

    <script>

var client = new Faye.Client('/faye');

var subscription = client.subscribe('/reservations', function(data){
  console.log(data);
});

    </script>

  <% end %>


</div>
