/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar-nav img{
	margin-top: 3%;
	width: 27%;
}

.wrapper{
	margin-top: 50px;
}

#signup-popup {
	border: 1px solid red;
	width: 35%;
	left: 35%;
	height: 600px;
	text-align: center;
	vertical-align: middle;
	display: none;
	position: absolute;
	position: fixed;
	background-color: white;
	top: 100px;
}

#signin-popup {
	border: 1px solid red;
	width: 35%;
	left: 35%;
	height: 600px;
	text-align: center;
	vertical-align: middle;
	display: none;
	position: absolute;
	position: fixed;
	background-color: white;
	top: 100px;
}

#signin-popup p{
	margin-top: 10%;
}

#signin-popup img{
	width: 30%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 35%;
}

.sign-in-close{
	width: 30px;
/*	display: none;*/
	position: absolute;
	position: fixed;
	left: 69%;
	top: 10%;
}

#signup-popup p{
	margin-top: 10%;
}

#signup-popup img{
	width: 30%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#flash{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0 auto;
	text-align: center;
	z-index: 100;
	width: 100%;
	border: 1px solid red;
	display: none;
}

.signed_in_index{
	padding-top: 60px;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 60px;
	text-align: center;
}

.signed_in_index h3{
	font-family: "MYRIADPRO-REGULAR";
	font-weight: bold;
	font-size: 60px;
}

.signed_in_index p{
	font-family: "MYRIADPRO-REGULAR";
	font-size: 25px;
}

.navbar-default{
	padding-right: 15%;
  	padding-left: 15%;
  	position: fixed;
  	z-index: 9999;
  	width: 100%;
  	top: 0;
}


.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 85vh;
}

.banner2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.floor{
	margin-top: 124px;
    width: 1100px;
    margin-left: 300px;
}

.table {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.table.selected, .table.reserved {
  opacity: 1;
}

.table.selected:not(.reserved) {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


#new_reservation{
	text-align: center;
    padding: 5px;
    margin: 2%;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px solid red;
    margin: 2%;
    width: 40%;
    margin: 0 auto;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

@font-face{
  font-family: 'MYRIADPRO-REGULAR';
  src: url('/assets/MYRIADPRO-REGULAR.OTF');
}

footer{
	text-align: center;
	height: 150px;
	background-color: #EDEDED;
}

footer h3{
	font-weight: bold;
	color: #404041;
	font-family: "MYRIADPRO-REGULAR"
}

.vertical-line{
	margin-top: 20px;
	border-left:medium #404041 solid; 
	height: 120px;
	position: absolute;
	left: 590px;
	
}


.vertical-line2{
	margin-top: 20px;
	border-left:medium #404041 solid; 
	height: 120px;
	position: absolute;
	right: 590px;
	
}

.dining{
	position: absolute;
	top: 12%;
	left: 40%;
	z-index: 1;
	width: 100%;
}

@font-face{
  font-family: 'Madisonian Bold';
  src: url('/assets/Madisonian Bold.ttf');
}

.dining h3{
	color: white;
	font-family: "Madisonian Bold";
	font-size: 35px;
	
}
.closing-footer{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#map{
	height: 600px;
	width: 80%;
	margin: 0 auto;
}

#map{
	margin-bottom: 100px;
	margin-top: 100px;
}

input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}
