/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar-nav img{
	margin-top: 3%;
	width: 27%;
}

.wrapper{
	margin-top: 50px;
}

#signup-popup {
	border: 1px solid red;
	width: 35%;
	left: 35%;
	height: 600px;
	text-align: center;
	vertical-align: middle;
	display: none;
	position: absolute;
	position: fixed;
	background-color: white;
	top: 100px;
}

#signin-popup {
	border: 1px solid red;
	width: 35%;
	left: 35%;
	height: 600px;
	text-align: center;
	vertical-align: middle;
	display: none;
	position: absolute;
	position: fixed;
	background-color: white;
	top: 100px;
}

#signin-popup p{
	margin-top: 10%;
}

#signin-popup img{
	width: 30%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#signup-popup p{
	margin-top: 10%;
}

#signup-popup img{
	width: 30%;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#flash{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0 auto;
	text-align: center;
	z-index: 100;
	width: 100%;
	border: 1px solid red;
	display: none;
}

.signed_in_index{
	padding-top: 60px;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 60px;
	text-align: center;
}

.signed_in_index h3{
	font-family: "MYRIADPRO-REGULAR";
	font-weight: bold;
	font-size: 60px;
}

.signed_in_index p{
	font-family: "MYRIADPRO-REGULAR";
	font-size: 25px;
}

.navbar-default{
	padding-right: 15%;
  	padding-left: 15%;
  	position: fixed;
  	z-index: 9999;
  	width: 100%;
  	top: 0;
}


.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 85vh;
}

.banner2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.floor{
	margin-top: 124px;
    width: 1100px;
    margin-left: 300px;
}

.top-right-booth{
	position: absolute;
	top: 229px;
	left: 614px;
	width: 100px;
	display: none;
	cursor: pointer;
	cursor: hand;
}

.top-right-booth-empty{
	position: absolute;
	top: 229px;
	left: 614px;
	width: 100px;
	height: 90px;
	cursor: pointer;
	cursor: hand;
}


.top-left-booth{
	position: absolute;
	top: 238px;
	left: 452px;
	width: 100px;
	display: none;
	cursor: pointer;
	cursor: hand;	

}

.top-left-booth-empty{
	position: absolute;
	top: 238px;
	left: 452px;
	width: 100px;
	height: 90px;
	cursor: pointer;
	cursor: hand;

}

.diagonal-upper-left-booth{
	position: absolute;
	top: 265px;
	left: 338px;
	width: 100px;
	display: none;
	cursor: pointer;
	cursor: hand;
}

.diagonal-upper-left-booth-empty{
	position: absolute;
	top: 265px;
	left: 338px;
	width: 100px;
	height: 90px;
	cursor: pointer;
	cursor: hand;

}

.left-booth{
	position: absolute;
	top: 401px;
	left: 307px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;
}

.left-booth-empty{
	position: absolute;
	top: 401px;
	left: 307px;
	width: 80px;
	height: 90px;
	cursor: pointer;
	cursor: hand;

}

.diagonal-bottom-left-booth{
	position: absolute;
	top: 522px;
	left: 338px;
	width: 100px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.diagonal-bottom-left-booth-empty{
	position: absolute;
	top: 528px;
	left: 338px;
	width: 100px;
	height: 90px;
	cursor: pointer;
	cursor: hand;
}

.bottom-left-booth{
	position: absolute;
	top: 566px;
	left: 454px;
	width: 100px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.bottom-left-booth-empty{
	position: absolute;
	top: 566px;
	left: 454px;
	width: 100px;
	height: 90px;
	cursor: pointer;
	cursor: hand;	
}

.bottom-right-booth{
	position: absolute;
	top: 578px;
	left: 615px;
	width: 100px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.bottom-right-booth-empty{
	position: absolute;
	top: 578px;
	left: 615px;
	width: 100px;
	height: 90px;
	cursor: pointer;
	cursor: hand;
}

.round-table-left-bottom{
	position: absolute;
	top: 465px;
	left: 446px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-left-bottom-empty{
	position: absolute;
	top: 465px;
	left: 446px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

.round-table-left-top{
	position: absolute;
	top: 366px;
	left: 446px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-left-top-empty{
	position: absolute;
	top: 366px;
	left: 446px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

.round-table-middle-top-left{
	position: absolute;
	top: 350px;
	left: 700px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-top-left-empty{
	position: absolute;
	top: 350px;
	left: 700px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

.round-table-middle-top-middle{
	position: absolute;
	top: 350px;
	left: 805px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-top-middle-empty{
	position: absolute;
	top: 350px;
	left: 805px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-top-right{
	position: absolute;
	top: 350px;
	left: 920px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-top-right-empty{
	position: absolute;
	top: 350px;
	left: 920px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

.round-table-middle-bottom-left{
	position: absolute;
	top: 450px;
	left: 700px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-bottom-left-empty{
	position: absolute;
	top: 450px;
	left: 700px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

.round-table-middle-bottom-middle{
	position: absolute;
	top: 450px;
	left: 807px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-bottom-middle-empty{
	position: absolute;
	top: 450px;
	left: 807px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

.round-table-middle-bottom-right{
	position: absolute;
	top: 450px;
	left: 920px;
	width: 80px;
	display: none;
	cursor: pointer;
	cursor: hand;	
}

.round-table-middle-bottom-right-empty{
	position: absolute;
	top: 450px;
	left: 920px;
	width: 80px;
	height: 80px;
	cursor: pointer;
	cursor: hand;
}

#new_reservation{
	text-align: center;
    padding: 5px;
    margin: 2%;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px solid red;
    margin: 2%;
    width: 40%;
    margin: 0 auto;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

@font-face{
  font-family: 'MYRIADPRO-REGULAR';
  src: url('/assets/MYRIADPRO-REGULAR.OTF');
}

footer{
	text-align: center;
	height: 150px;
	background-color: #EDEDED;
}

footer h3{
	font-weight: bold;
	color: #404041;
	font-family: "MYRIADPRO-REGULAR"
}

.vertical-line{
	margin-top: 20px;
	border-left:medium #404041 solid; 
	height: 120px;
	position: absolute;
	left: 590px;
	
}


.vertical-line2{
	margin-top: 20px;
	border-left:medium #404041 solid; 
	height: 120px;
	position: absolute;
	right: 590px;
	
}

.dining{
	position: absolute;
	top: 12%;
	left: 40%;
	z-index: 1;
	width: 100%;
}

@font-face{
  font-family: 'Madisonian Bold';
  src: url('/assets/Madisonian Bold.ttf');
}

.dining h3{
	color: white;
	font-family: "Madisonian Bold";
	font-size: 35px;
	
}
.closing-footer{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#map{
	height: 600px;
	width: 100%;
}

input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}